@import 'style_reset';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: white;
  height: 100vh;
}

#root{
  min-height: 100vh;

  display:flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

button{
  font-size: 1.3em;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 6px 12px;
}

input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(133, 133, 133);
  color: #fff;
}

.container{
  width: 900px;
  padding: 20px 0;
}

.tracker{
  background-color: #1e1e1e;
  margin: 40px 10px;
  padding: 5px 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 8px;
}

.level-form{
  display: flex;
  position: relative;
  justify-content: center;
  margin: 20px 0;
  h2{
    margin-bottom: 0em;
  }
  input{
    margin-left: 20px;
    font-size: 2em;
    border-bottom: 2px solid #fff;
    width: 70px;
    height: 35px;
  }
  button{
    font-size: 2em;
  }
} 

.buttons-container{
  position:absolute;
  display: flex;
  flex-direction: column;
  font-size: .5em;
  &.right{
    right: 0;
  }
  &.left{
    left: 0;
    button{
      font-size: 3.2em;
      padding: 0 12px;
    }
  }
  button{
    margin-bottom: 8px;
  }
}

.progress-container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  .dates{
    font-size: 1.3em;
    width: 130px;
    &.left{
      text-align: right;
    }
  }
}

.progress{
  height: 40px;
  border-radius: 6px;
  &.bg{
    position: relative;
    background-color: #2c2c2c;
    width: 70%;
    margin: 20px;
    box-shadow: inset 0 0 8px rgb(0, 0, 0);
  }
  &.bar{
    background: rgb(25,199,18);
    background: linear-gradient(0deg, #034600 0%, #08b702 100%);
    width: 50%;
    &.late{
      background: rgb(199,18,18);
      background: linear-gradient(0deg, #500000 0%, #dc0000 100%);
    }
    &.finished{
      background: rgb(255,136,0);
      background: linear-gradient(0deg, rgba(255,136,0,1) 0%, rgba(255,210,2,1) 100%);    }
  }
}

.progress-days{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-36px, -26px);
  width: 70px;
  span{
    margin-bottom: 10px;
  }
  .measure{
    height:40px;
    width:2px;
    background-color: #fff;
    box-shadow: 0 0 12px #000 , 0 0 6px #000, 0 0 3px #000;
  }
}

.add-container{
  display: flex;
  justify-content: center;
}

.modal-overlay{
  display:flex;
  justify-content: center;
  align-items: center;


  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	z-index: 1000
}

.modal{
  width: 380px;
  background-color: #1e1e1e;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 10px;
  padding: 2em;

  .form-table{
    margin: 0 auto 12px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
    label{
      font-size: 1.2em;
      justify-self: end;
    }
    input{
      width: 150px;
      font-size: 1.2em;
      justify-self: start;
    }
  }

  .modal-buttons-container{
    display: flex;
    justify-content: space-evenly;
  }
}
