@import 'style_reset';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(61, 61, 61);
  color: white;
  height: 100vh;
}

#root{
  height: 100vh;

  display:flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
}

button{
  font-size: 1.3em;
}

.container{
  width: 800px;
}

.level-form{
  margin: 20px 0;
  input{
    width: 40px;
  }
} 
.progress-container{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  .dates{
    font-size: 1.3em;
  }
}

.progress{
  height: 40px;
  border-radius: 6px;
  &.bg{
    position: relative;
    background-color: rgb(49, 49, 49);
    width: 70%;
    margin: 20px;
    box-shadow: inset 0 0 15px rgb(0, 0, 0);
  }
  &.bar{
    background: rgb(25,199,18);
    background: linear-gradient(0deg, #068c00 0%, #0aff00 100%);
    width: 50%;
    &.late{
      background: rgb(199,18,18);
      background: linear-gradient(0deg, #940000 0%, #ff0404 100%);
    }
  }
}

.progress-days{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  transform: translate(-36px, -26px);
  width: 70px;
  span{
    margin-bottom: 10px;
  }
  .measure{
    height:40px;
    width:2px;
    background-color: #fff;
  }
}

.add-container{
  display: flex;
  justify-content: center;
}

.modal-overlay{
  display:flex;
  justify-content: center;
  align-items: center;


  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.7);
	z-index: 1000
}

.modal{
  width: 380px;
  background-color: #444;
  border-radius: 10px;
  padding: 2em;

  .form-table{
    margin: 0 auto 12px auto;
    label{
      margin-right: 1em;
    }
    input{
      width: 150px;
    }
    tr{
      height: 2em;
    }
  }

  .buttons-container{
    display: flex;
    justify-content: space-evenly;
  }
}
